<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About our website</title>
</head>
<body>

<div class="container" style="text-align: center">

    <h1>This is Aboutus page </h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim quaerat cumque voluptate quidem hic reprehenderit debitis deserunt beatae dicta exercitationem porro et, adipisci sunt facere at quam tempora in, amet ea laudantium sequi consequuntur. Culpa, id? Molestiae nulla eum amet fuga illo consequatur id labore eaque impedit! Provident, aperiam pariatur!</p>

</div>
</body>
</html>